<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Reynolds Doceria</title>

    <link rel="icon" href="/public/images/logo-icon.png" />

    <link rel="stylesheet" href="/public/css/main.css" />
    <link rel="stylesheet" href="/public/css/animations.css" />
    <link rel="stylesheet" href="/public/css/prices.css" />
    <link rel="stylesheet" href="/public/css/sidebar.css" />

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet" />
</head>

<body>
    <div id="prices">
        <aside class="animate-right sidebar">
            <a href="./index.html">
                <img src="/public/images/logo-P.png" alt="Logomarca" />
            </a>

            <a href="./home.html" id="home-button">Home</a>

            <a href="./prices.html" id="prices-button">Preços</a>

            <footer>
                <a href="./contact-us.html">
                    Contato
                </a>
            </footer>
        </aside>

        <main class="animate-appear with-sidebar">
            <div class="content">
                <div class="prices-table">
                    <h1>Tabela de Preços</h1>

                    <table class="table-config">
                        <thead>
                            <tr>
                                <th class="col1">Tamanho (cm)</th>
                                <th class="col2">Preço</th>
                                <th class="col3">Qntd. de Fatias</th>
                            </tr>
                        </thead>
                        <tr>
                            <td class="col1-l1">15cm</td>
                            <td class="col2-l1">R$ 80,00</td>
                            <td class="col3-l1">10 fatias</td>
                        </tr>
                        <tr>
                            <td class="col1-l2">20cm</td>
                            <td class="col2-l2">R$ 100,00</td>
                            <td class="col3-l2">28 fatias</td>
                        </tr>
                        <tr>
                            <td class="col1-l3">25cm</td>
                            <td class="col2-l3">R$ 120,00</td>
                            <td class="col3-l3">42 fatias</td>
                        </tr>
                        <tr>
                            <td class="col1-l4">30cm</td>
                            <td class="col2-l4">R$ 140,00</td>
                            <td class="col3-l4">56 fatias</td>
                        </tr>
                        <tr>
                            <td class="col1-l5">35cm</td>
                            <td class="col2-l5">R$ 160,00</td>
                            <td class="col3-l5">82 fatias</td>
                        </tr>
                        <tr>
                            <td class="col1-l6">40cm</td>
                            <td class="col2-l6">R$ 180,00</td>
                            <td class="col3-l6">100 fatias</td>
                        </tr>
                    </table>

                    <hr />

                    <div class="more-informations">
                        <h2>Entendendo os preços</h2>

                        <img src="/public/images/tamanhos.jpeg" alt="tamanho x fatias">

                        <p>
                            Primeiro você precisa escolher o tamanho do seu bolo,
                            de acordo com a sua necessidade, depois escolhe o recheio
                            e por fim a decoração. O preço varia de acordo com o tamanho
                            do bolo escolhido, podendo variar um pouco a depender da
                            decoração escolhida.
                        </p>

                        <span>
                            * Para combinar forma de pagamento, decoração,
                            tamanhos maiores, adicionar docinhos e salgados
                            a sua festa, entre em contato conosco.
                        </span>
                    </div>
                </div>
            </div>
        </main>

    </div>
</body>

</html>